<!-- partials/header.ejs -->

<!-- @TODO: 로고가 있는 헤더와 4개 이상의 항목이 포함된 탐색 메뉴를 생성하십시오 -->
<header class="header">
    <div class="container">
      <div class="container-left">
        <figure class="logo">
          <a href="/">
            <h1 class="site-title">🍔 Aaron's Node Site</h1>
          </a>
        </figure>
        <%- include('nav.ejs') %>
      </div>
    </div>
  </header>